@media screen and (max-width: 1440px) {

    .video-overlay {
        padding-left: 40px;
    }

}

@media screen and (max-width: 1024px) {

    .video-overlay {
        padding-left: 30px;
    }

}

@media screen and (max-width: 768px) {

    .video-overlay {
        padding-left: 20px;
    }

    .eyebrow-section {
        width: clamp(10px, 100%, 80px);
        height: 14px;
    }

    .eyebrow-text {
        font-size: 8px;
    }

    .button-shop-accessory {
        display: none;
    }

}

@media screen and (max-width: 425px) {

    .video-overlay {
        padding-left: 10px;
    }

    .video-overlay > h1 {
        font-size: 46px;
    }

    .controller-video-button {
        height: 26px;
        width: 26px;
    }

    .controller-video-button > img {
        height: 14px;
        width: 14px;
    }

}