@media screen and (max-width: 1024px) {

    .container-offer-price-tag {
        padding: 4px 0 4px 0;
    }

    .container-featured-section {
        padding-left: 30px;
    }

    .offer-title {
        font-size: 33px;
        width: clamp(100px, 100%, 420px);
    }

    .offer-subtitle {
        width: clamp(100px, 100%, 400px);
    }

}

@media screen and (max-width: 768px) {

    .featured-offer-banner {
        display: block;
    }

    .banner-offer {
        background: url("../assets/holiday/2024_Holiday_Roomba_Combo_10_Max_Web_FeaturedOffer_StaticBanner_Mobile_1500x1500.webp") no-repeat center;
        height: 747px;
    }

    .container-featured-section {
        position: static;

        justify-content: flex-start;
        width: 100%;
        height: fit-content;

        padding: 30px 20px 16px 20px;
        box-sizing: border-box;

    }

    .container-featured-section::after {
        content: '';
        border-bottom: 2px solid var(--color-light-mint-grey);
        padding-top: 20px;
    }

    .offer-title {
        color: var(--what-color);
        width: 100%;
    }

    .offer-subtitle {
        width: 100%;
        color: var(--what-color);
    }

    .offer-cta {
        color: var(--color-forest-green);
    }

}