:root {
    --color-light-green: #dce9d5;
    --color-white: #ffffff;
    --color-light-grey: #d9d9d9;
    --color-dark-grey: #3C4453;
    --color-muted-blue-grey: #596273;
    --color-red: #D0312D;
    --color-pale-green: #d3ead2;
    --color-lightest-grey: #f2f2f2;
    --color-bright-green: #6cb86a;
    --color-forest-green: #447355;
    --color-pale-mint: #eaf2e6;
    --color-light-mint-grey: #e2e3e6;
    --color-steel-grey: #6a768c;
    --color-muted-teal: #6b8a82;
    --color-black: #000000;
    --color-olive: #767b55;
    --color-deep-forest-green: #447354;
    --color-dark-greyish: #545456;
    --color-charcoal-grey: #44444;

    --undefined: #657e6e;
    --mobile-style-n: #c7d5cc;
    --what-color: #343A40;
}