:root {
    /* HEADER */
    --background-header: #dce9d5;

    --background-primary: #ffffff;

    --background-wishlist: #1f1f1f;
    --text-wishlist: #ffffff;
    --border-wishlist: #cacaca;

    --border-country-selector: #d9d9d9;
    --text-primary: #3C4453FF;

    --text-carousel: #596273;

    /* NAVIGATION */
    --offers: #D0312D;

    --border-nav-input: #d3ead2;
    --background-input: #f2f2f2;
}