.site-header {
    padding: 8px 40px;
    background-color: var(--color-light-green);
}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-carousel-container {
    position: relative;

    grid-column: 2 / 3;
    display: flex;
    width: 100%;
    justify-content: center;
}

.arrow {
    align-self: center;
    cursor: pointer;
}

.header-carousel {
    display: flex;
    width: clamp(100px, 100%, 500px);
}

.carousel-item, .carousel-item > a {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-muted-blue-grey);
    text-align: center;

    transition: opacity 500ms linear;
    opacity: 1;
    pointer-events: auto;
}

.carousel-item-hidden {
    position: absolute;
    width: clamp(100px, 100%, 500px);

    transition: opacity 500ms linear;
    opacity: 0;
    pointer-events: none;
}

.carousel-item-hidden > a {
    pointer-events: none;
}

.header-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.nav-link {
    display: flex;
    align-items: center;

    font-size: 14px;
    color: var(--color-muted-blue-grey);
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.nav-link-login::before {
    content: '';
    background: url("../assets/other/login.svg") no-repeat center;
    width: 16px;
    height: 16px;
    align-self: center;
    padding-right: 6px;
}

.nav-link-wishlist {
    position: relative;

    display: flex;
    align-items: center;
}

.wishlist-icon {
    width: 16px;
    height: 16px;
}

.nav-link-language {
    position: relative;
    margin-left: 15px;
    box-sizing: border-box;
}

.nav-link-language::before {
    content: '';
    background: url("../assets/other/language.svg") no-repeat center;
    width: 16px;
    height: 16px;

    align-self: center;
    margin-right: 5px;
}

.nav-link-language::after {
    content: '';
    background: url("../assets/other/countrySelectror.svg") no-repeat center;
    width: 16px;
    height: 16px;

    align-self: center;
    padding-left: 3px;
    margin-top: 2px;
}

.dropdown-country-selector {
    position: absolute;
    width: clamp(220px, 100%, 220px);
    box-sizing: border-box;

    background-color: var(--color-white);
    border: 1px solid var(--color-light-grey);
    padding: 25px 20px;
    top: 20px;
    right: 0;
    z-index: 10;

    cursor: auto;
}

.dropdown-item {
    display: flex;
    width: fit-content;
    gap: 8px;

    font-size: 14px;
    color: var(--color-dark-grey);

    cursor: pointer;
}

.dropdown-item::before {
    content: '';
    background: url("../assets/other/russian-flag.svg") no-repeat center;
    width: 16px;
    height: 16px;

    align-self: center;
}

.country-selector-hidden {
    display: none;
}

@media screen and (max-width: 1600px) {

    .site-header {
        padding: 11px 20px;
    }

    .header-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-carousel-container {
        grid-column: 1;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 1024px) {

    .site-header {
        height: 20px;
    }

    .header-wrapper {
        display: flex;
        height: 100%;
    }

    .header-carousel-container {
        justify-content: center;
    }

    .header-carousel {
        justify-content: center;
    }

    .header-navigation {
        display: none;
    }

    .carousel-item, .carousel-item > a {
        align-self: center;
        font-size: 11px;
    }

}

@media screen and (max-width: 425px) {

    .carousel-item, .carousel-item > a {
        align-self: center;
        font-size: 8px;
    }

}
