body {
    margin: 0;
    padding: 0;

    font-family: PT Sans, Arial, sans-serif;
}

.hidden {
    display: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2,
h3, h4,
h5, h6,
p {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

/*.background--green {*/
/*    background-color: var(--color-forest-green);*/
/*    color: var(--color-white);*/
/*}*/

/*.background--transparent {*/
/*    background-color: transparent;*/
/*    border: 2px solid var(--color-forest-green);*/
/*    color: var(--color-forest-green);*/
/*    box-sizing: border-box;*/
/*}*/

/*.background--green:hover {*/
/*    transition: all .2s ease-in-out;*/
/*    outline: 6px solid var(--color-pale-green);*/
/*}*/

/*.background--transparent:hover {*/
/*    transition: all .2s ease-in-out;*/
/*    outline: 6px solid var(--color-pale-green);*/
/*}*/
