.container-navigation {
    display: flex;
    width: 100%;

    padding: 28px 40px 30px 40px;
    box-sizing: border-box;

    border-bottom: 2px solid var(--color-bright-green);
}

.navigation-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-left > img {
    padding-top: 3px;
    cursor: pointer;
}

.nav-link-highlight {
    margin-top: 14px;

    font-size: 16px;
    font-weight: 600;
    color: var(--color-red);
    text-decoration: none;
}

.nav-item {
    margin-top: 14px;

    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark-grey);

    cursor: pointer;
}

.select-nav-item {
    border-bottom: 1px solid var(--color-steel-grey);
}

.navigation-right {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.nav-search {
    padding: 9px 15px 9px 20px;
    width: clamp(60px, 100%, 219px);
    height: 18px;

    border-radius: 21px;
    background-color: var(--color-lightest-grey);
    border: 4px solid transparent;
    outline: none;
    transition: all .2s ease-in-out;
}

.nav-search:focus {
    border: 4px solid var(--color-pale-green);
    transition: all .2s ease-in-out;
}

.search-icon {
    position: absolute;
    right: 55px;
    align-self: center;

    cursor: pointer;
}

.minicart-icon {
    background: url("../assets/other/minicart.svg") no-repeat center;
    width: 24px;
    height: 24px;

    margin-left: 10px;

    cursor: pointer;
}

.mobile-container-navigation {
    display: none;
}

/* CATEGORIES */
.container-popup-menu {
    position: absolute;

    display: flex;
    width: clamp(10px, 100%, 1200px);
    background-color: var(--color-white);

    box-sizing: border-box;
    margin-left: 180px;
    z-index: 1000;
}

.container-popup-menu-hidden {
    display: none;
}

.container-popup-menu-last {
    width: clamp(10px, 100%, 882px);
}

.popup-menu {
    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 60px;
    margin-right: 30px;
    width: clamp(10px, 100%, 300px);
}

.menu-link {
    display: block;
    width: fit-content;

    font-size: 24px;
    font-weight: 600;
    color: var(--color-dark-grey);
    text-decoration: none;
    transition: all .2s;

    margin-bottom: 18px;
    margin-top: 23px;
}

.menu-link:first-child {
    margin-top: 0;
}

.menu-link:last-child {
    margin-bottom: 0;
}

.menu-link:hover {
    color: var(--color-forest-green);
    transition: all .2s;
}

.submenu {
    border: 2px solid var(--color-pale-mint);
    width: clamp(5px, 100%, 25px);
}

.container-category-info {
    display: flex;
    width: clamp(10px, 100%, 300px);
}

.container-banner {
    display: flex;
    justify-content: center;
    width: clamp(10px, 100%, 222px);
}

.banner {
    display: flex;
    position: relative;

    width: clamp(20px, 100%, 120px);
    background-color: var(--color-pale-mint);
    border-radius: 12px;

    margin: 60px 0 60px 55px;
}

.container-robot-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.robot-image {
    position: absolute;
    right: 0;

    opacity: 1;
    transition: all .2s linear;
}

.robot-hidden {
    opacity: 0;
    transition: all .2s linear;
}

.category-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(10px, 100%, 320px);

    padding-top: 60px;
}

.details-header {
    display: flex;
    width: clamp(10px, 100%, 160px);

    font-size: 20px;
    flex-wrap: wrap;
    font-weight: 600;
    color: var(--color-forest-green);

    margin-bottom: 25px;
}

.details-subheader {
    width: clamp(10px, 100%, 160px);
    border: 1px solid var(--color-light-mint-grey);
}

.container-item-info {
    display: flex;
    flex-direction: column;
    width: clamp(30px, 100%, 160px);

    padding-top: 24px;
}

.info-link {
    width: fit-content;

    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark-grey);
    text-decoration: none;

    margin-bottom: 26px;
}

.info-link:last-child {
    margin-bottom: 0;
}

.info-link:hover {
    text-decoration: underline;
}

.promo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(10px, 100%, 330px);
    background-color: var(--color-steel-grey);
}

.promo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 24px;
    font-weight: 600;
    color: var(--color-white);

    margin-bottom: 25px;
}

.promo-content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 60px;
    margin: 0 60px 25px 0;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.66;
    color: var(--color-white);
}

.promo-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.promo-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(10px, 100%, 162px);
    height: 42px;

    background-color: var(--color-steel-grey);
    border-radius: 21px;
    border: 2px solid var(--color-white);

    font-size: 13px;
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;

    cursor: pointer;
}

.promo-button:hover {
    outline: 6px solid var(--color-muted-teal);
    transition: all .2s ease-in-out;
}

.promo-button__2 {
    width: clamp(10px, 100%, 158px);
    height: 58px;

    border-radius: 37px;

    font-size: 16px;
}

@media screen and (max-width: 1440px) {

    .container-popup-menu {
        margin-left: 0;
    }

}

@media screen and (max-width: 1024px) {

    .container-navigation {
        display: none;
    }

    .mobile-container-navigation {
        display: block;
        width: 100%;
    }

    .mobile-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding-left: 20px;
        padding-top: 28px;
        margin-right: 20px;
    }

    .mobile-navigation::after {
        content: '';
        border-bottom: 2px solid var(--color-bright-green);
        width: 100%;
        padding-top: 20px;
    }

    .mobile-minicart-icon {
        background: url("../assets/other/minicart.svg") no-repeat center;
        width: 24px;
        height: 24px;

        cursor: pointer;
    }

    .mobile-container-nav-search {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        padding-top: 12px;
        margin-bottom: 12px;
    }

    .mobile-nav-search {
        padding: 9px 15px 9px 20px;
        width: clamp(60px, 100%, 340px);
        height: 14px;

        border-radius: 21px;
        background-color: var(--color-lightest-grey);
        border: 4px solid transparent;
        outline: none;
        transition: all .2s ease-in-out;

        font-family: 'PT Sans', Arial, sans-serif;

        background-image: url("../assets/other/search.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 10px);
    }

    .mobile-nav-search:focus {
        border: 4px solid var(--color-pale-green);
        transition: all .2s ease-in-out;
    }

}