.nav {
    display: flex;

    padding: 28px 40px 30px 40px;
    box-sizing: border-box;

    border-bottom: 2px solid #6cb86a;
}

.nav_container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    background: url("../assets/other/logo.svg") no-repeat center;
    width: 120px;
    height: 28px;

    cursor: pointer;
}

.nav_link {
    margin-top: 12px;

    font-size: 16px;
    font-weight: 600;
    color: #D0312D;
    text-decoration: none;
}

.nav_item {
    margin-top: 14px;

    font-size: 16px;
    font-weight: 600;
    color: #3C4453;;

    cursor: pointer;
}

.select_nav_item {
    border-bottom: 1px solid #6a768c;
}

.quick_search {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.search {
    padding: 9px 35px 9px 20px;
    margin-right: 10px;
    width: clamp(60px, 100%, 219px);
    height: 18px;

    border-radius: 21px;
    background-color: #f2f2f2;
    border: 4px solid transparent;
    outline: none;
    transition: all .2s ease-in-out;

    background-image: url("../assets/other/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}

.search:focus {
    border: 4px solid #d3ead2;
}

.minicart_icon {
    background: url("../assets/other/minicart.svg") no-repeat center;
    width: 24px;
    height: 24px;

    cursor: pointer;
}

.mobile_nav_container {
    display: none;
}

/* CATEGORIES */
.popup {
    position: absolute;

    display: none;
    width: clamp(10px, 100%, 1200px);
    background-color: #ffffff;

    box-sizing: border-box;
    margin-left: 180px;

    z-index: 1000;
}

.popup_active {
    display: flex;
}

.last_popup {
    width: clamp(10px, 100%, 882px)
}

.menu_container {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 60px 0 60px 60px;
    margin-right: 30px;
    width: clamp(10px, 100%, 300px);
}

.menu_item {
    position: relative;

    display: flex;
    flex-direction: column;
    width: fit-content;

    font-size: 24px;
    font-weight: 600;
    color: #3C4453;;

    transition: all .2s;

    margin-bottom: 18px;
    margin-top: 23px;

    cursor: pointer;
}
.menu_item:first-child {
    margin-top: 0;
}
.menu_item:last-child {
    margin-bottom: 0;
}
.menu_item::after {
    content: '';

    position: absolute;
    bottom: -18px;
    left: 0;

    border-bottom: 2px solid #eaf2e6;
    width: clamp(5px, 100%, 25px);
    margin-top: 23px;

    pointer-events: none;
}
.menu_item:last-child::after {
    content: none;
}
.menu_item:hover {
    color: #447355;
    transition: all .2s;
}

.background_container {
    display: flex;
    justify-content: center;
    width: clamp(10px, 100%, 222px);
}

.background {
    position: relative;

    width: clamp(20px, 100%, 120px);
    background-color: #eaf2e6;
    border-radius: 12px;

    margin: 60px 0 60px 55px;
}

.robots_container {
    display: flex;
    align-items: center;
    height: 100%;
}

.robot {
    position: absolute;
    right: 0;

    width: 200px;
    height: 200px;

    opacity: 0;
}
.robot_active {
    opacity: 1;
}

.info_category {
    display: flex;
    width: clamp(10px, 100%, 300px);
}

.info_category_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(10px, 100%, 320px);

    padding-top: 60px;
}

.info_header {
    display: flex;
    flex-direction: column;
    width: clamp(10px, 100%, 160px);

    font-size: 20px;
    flex-wrap: wrap;
    font-weight: 600;
    color: #447355;
}

.info_header::after {
    content: '';
    width: clamp(10px, 100%, 160px);
    border: 1px solid #e2e3e6;
    margin-top: 25px;
}

.info_container {
    display: flex;
    flex-direction: column;
    width: clamp(30px, 100%, 160px);

    padding-top: 24px;
}

.info_link {
    width: fit-content;

    font-size: 16px;
    font-weight: 600;
    color: #3C4453;;

    margin-bottom: 26px;

    cursor: pointer;
}

.info_link:last-child {
    margin-bottom: 0;
}

.info_link:hover {
    text-decoration: underline;
}

.popup_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(10px, 100%, 330px);
    background-color: #6a768c;
}

.promo_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 24px;
    font-weight: 600;
    color: #ffffff;

    margin-bottom: 25px;
}

.promo_content {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 60px;
    margin: 0 60px 25px 0;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.promo_btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.promo_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(10px, 100%, 162px);
    height: 42px;

    background-color: #6a768c;
    border-radius: 21px;
    border: 2px solid #ffffff;

    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;

    cursor: pointer;
}

.promo_btn:hover {
    outline: 6px solid #6b8a82;
    transition: all .2s ease-in-out;
}

.additional_btn {
    width: clamp(10px, 100%, 158px);
    height: 58px;

    border-radius: 37px;

    font-size: 16px;
}

@media screen and (max-width: 1440px) {

    .popup {
        margin-left: 0;
    }

}

@media screen and (max-width: 1024px) {

    .nav {
        display: none;
    }

    .mobile_nav_container {
        display: block;
        width: 100%;
    }

    .mobile_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding-left: 20px;
        padding-top: 28px;
        margin-right: 20px;
    }

    .mobile_nav::after {
        content: '';
        border-bottom: 2px solid #6cb86a;
        width: 100%;
        padding-top: 20px;
    }

    .burger_menu {
        background: url("../assets/other/burger.svg") no-repeat center;
        width: 26px;
        height: 26px;
    }

    .mobile_quick_search {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        padding: 12px 20px 12px 20px;
        box-sizing: border-box;
    }

    .mobile_search {
        padding: 9px 35px 9px 20px;
        width: clamp(60px, 100%, 340px);
        height: 14px;

        border-radius: 21px;
        background-color: #f2f2f2;
        border: 4px solid transparent;
        outline: none;
        transition: all .2s ease-in-out;

        background-image: url("../assets/other/search.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 10px);
    }

    .mobile_search:focus {
        border: 4px solid #d3ead2;
    }

}