.video-section {
    position: relative;

    display: flex;
    width: 100%;

    border-bottom: 1px solid var(--color-black);
}

.video-section::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
}

.hero-video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.controller-video-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--color-white);
    height: 36px;
    width: 36px;

    cursor: pointer;
}

.controller-video-button > img:first-child {
    padding-left: 2px;
}

.controller-video-button:hover {
    transition: all .2s ease-in-out;
    outline-offset: -3px;
    outline: 9px solid hsla(0, 0%, 100%, .3);
}

.inactive {
    display: none;
}

.is-active {
    outline-offset: 3px;
    outline: 3px solid hsla(0, 0%, 100%, .3);
}

.video-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 634px;

    padding: 10px 0 10px 120px;

    z-index: 1;
}

.eyebrow-section {
    width: clamp(10px, 100%, 107px);
    height: 22px;
    background-color: var(--color-red);
    border-radius: 3px;

    margin-bottom: 12px;
}

.eyebrow-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-white);
}

.video-overlay > h1 {
    width: clamp(10px, 100%, 650px);

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: var(--color-white);

    margin: 0;
}

.video-overlay > p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
}

.button-section {
    display: flex;
    gap: 25px;
    width: 100%;
}

.button-shop-robot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20px, 100%, 275px);

    background-color: var(--color-forest-green);
    border-radius: 37px;

    padding: 16px 0 16px 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;

    cursor: pointer;
}

.button-shop-robot:hover {
    transition: all .2s ease-in-out;
    outline: 6px solid var(--color-olive);
}

.button-shop-accessory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20px, 100%, 300px);

    border-radius: 37px;
    border: 2px solid var(--color-white);

    padding: 16px 0 16px 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;

    cursor: pointer;
}

.button-shop-accessory:hover {
    transition: all .2s ease-in-out;
    outline: 6px solid hsla(0, 0%, 100%, .3);
}

.offers-valid {
    padding-top: 15px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
}